@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: #fff;
  background:#008000;
}

body {
  background:#333;
}

.intro, .play-section, .game-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.intro {
  background: #fff;
  padding: 20px 25px 25px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

.intro.hide {
  opacity: 0;
  pointer-events: none;
}

.intro h1 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  text-align: center;
}

.intro p {
  font-size: 22px;
  font-weight: 500;
  margin: 20px 0;
  text-align: center;
}

.intro .player-options {
  display: flex;
  width: 100%;
}

.player-options button {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  border: none;
  background: blue;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.player-options button:nth-child(2) {
    background: red;
}

.player-options button:hover,
.btn button:hover {
  transform: scale(0.96);
}

.player-options button.player-X {
  margin-right: 5px;
}

.player-options button.player-O {
  margin-left: 5px;
}

.intro .developer {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}

.intro .developer a {
  color: #008000;
  text-decoration: none;
}

.intro .developer a:hover {
  text-decoration: underline;
}

.play-section {
  width: 35%;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.play-section.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.play-section .notifier-box {
  padding: 7px;
  border-radius: 5px;
  background: #fff;
}

.play-section .players-turn {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.players-turn span {
  position: relative;
  z-index: 2;
  color: #008000;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  cursor: default;
  user-select: none;
  transition: all 0.3 ease;
}

.players-turn.active span:first-child {
  color: #fff;
}

.players-turn.active span:last-child {
  color: #008000;
}

.players-turn span:first-child {
  color: #fff;
}

.players-turn .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #008000;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.players-turn.active .slider {
  left: 50%;
}

.players-turn.active span:first-child {
  color: #008000;
}

.players-turn.active span:nth-child(2) {
  color: #fff;
}

.players-turn.active .slider {
  left: 50%;
}

.game-squares {
  margin-top: 20px;
}

.game-squares section {
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.game-squares section span {
  display: block;
  height: 90px;
  width: 90px;
  margin: 2px;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  border-radius: 5px;
  background: #fff;
}

.game-result {
  padding: 25px 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  opacity: 0;
  text-align: center;
  background: #fff;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.game-result.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.game-result .result-text {
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.game-result .result-text p {
  font-weight: 600;
  margin: 0 5px;
}

.game-result .replay-btn {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.replay-btn button {
  font-size: 18px;
  font-weight: 500;
  padding: 8px 20px;
  border: none;
  background: #008000;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (max-width: 1000px) {
    .play-section {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .intro {
        width: 95%;
    }

    .play-section {
        width: 90%;
    }

    .game-result {
        width: 95%;
    }

    .game-result .result-text {
        font-size: 25px;
    }
}